@import url('https://fonts.googleapis.com/css?family=Holtwood+One+SC|Khand|Merienda+One|Signika');

body{
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 600px;
}

html {
  scroll-behavior: smooth;
}
.container{
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: auto;
	position: relative;
	z-index: 1;
}

.brand-logo img{
	width: 40px;
	height: 40px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: -10px;
}
.banner{
	width: 100%;
	height: 70px;
}

#navbar{
		background-color: rgb(58, 35, 6);
}
nav{
	position: fixed;
	z-index: 2px;
	width: 100%;
	height: 70px;
	/*background-color: transparent;*/
	/*background-color: rgb(58, 35, 6);*/
	color: white;
}
.brand-logo {
	float: left;
	text-decoration: none;
	text-align: center;
	font-size: 30px;
	margin-left: 40px; 
	line-height: 70px;
	color: white;
	font-family: 'Merienda One', cursive;
}

nav ul{
	list-style-type: none;
	margin-left: 530px;
}

nav ul li{
	float: left;
	text-decoration: none;
	padding-left: 40px;
	text-align: center;
	font-family: 'Khand', sans-serif;
	line-height: 40px;
}


nav ul li a{
	text-decoration: none;
	color: white;
	font-size: 25px;
	transition: 0.5s;
}

.logo-img{
	position: absolute;
	left: 570px;
	top: 300px;
	z-index: 0;
}
.btn-sign-in{
	float: right;
	width: 100px;
	height: 50px;
	background-color: #89330E;
	margin-top: -6px;
	margin-right: 30px;
	font-family: 'Signika', sans-serif;
	font-size: 20px;
	border-radius: 10px;
	transition: 0.5s;
}
nav p{
	float: right;
	margin-right: 10px;
	line-height: 5px;
	color: white;
}

nav p a{
	text-decoration: none;
	color: #C2A878;
}
.btn-sign-in a{
	padding: 0px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	color: #F3ECAF;
	transition: 0.5s;
}


nav ul li a:hover{
	font-size: 30px;
}


.btn-sign-in:hover{
	background-color: #EDA953;
}

.btn-sign-in:hover a{
	color: #48210F;	
}
/****************************************/
/****************************************/
/****************************************/
/****************************************/
.order{
	width: 100%;
	height: 900px;
	padding-top: 100px;
	z-index: -1;
	position: relative;
}

.order-form{
	margin-bottom: 100px;
	background-image: url("../Images/order1.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	width: 800px;
	height: 500px;
	float: right;
	margin-right: 30px;
	position: relative;
}
input[type=text], select {
    width: 300px;
    padding: 12px 20px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 300px;
    background-color: #8B350F;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}

input[type=submit]:hover {
    background-color: #EDA953;
}

div.order-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.centerform{
	clear: both;
	position: absolute;
	left: 70px;
}
.centerform2{
	clear: both;
	position: absolute;
	right: 70px;
}

/*****************************************/
/*****************************************/
/*****************************************/
/*****************************************/
.order-show1{
	width: 600px;
	height: 540px;
	background-color: blue;
	float: left;
	margin-left: 30px;
} 
.order-form label{
	color: white;
	font-size: 30px;
	font-family: 'Pacifico', cursive;
	letter-spacing: 2px;
}

